{
  "root": true,
  "extends": ["plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "rules": {
        "semi": [2, "never"],
        "quotes": [2, "single"]
      }
    }
  ]
}
