button {
  padding: 8px 16px;
  margin: 0;
  font-weight: 500;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: none;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
button:hover {
  filter: brightness(80%);
}
button.disabled {
  cursor: not-allowed !important;
  border-color: gray !important;
  background: gray !important;
  opacity: 0.3;
}
