@import 'semantic-ui-css/semantic.min.css';
@import 'react-toastify/dist/ReactToastify.css';

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
